p.attribution {
	visibility: hidden;
}

.social-menu li a::before {
	font-size: 22px;
}

.social-menu a {
	width: 45px;
	height: 45px;
}

.social-menu li a[href*="instagram.com"]::before {
	color: #FF005C;
}

.social-menu li a[href*="facebook.com"]::before {
	color: #1F078C;
}

.social-menu li a[href*="twitter.com"]::before {
	color: #00E3FF;
}

.posts .post-image img {
	width: 100%;
	height: 200px;
}

.site-footer .copyright {
	text-align: center;
}

.widget-content li a::before {
	color: #7C7E7F;
	font-size: 25px;
}

.single-post .post-inner {
	width: 100%;
}

h2, h3, h4, h5, h6, p, blockquote, address, big, cite, code, em, font, img, small, strike, sub, sup, li, ol, ul, fieldset, form, label, legend, button, table, caption, tr, th, td {
	text-align: justify;
}

h1 {
	text-align: center;
}

.post-inner .sd-rating, .post-inner .sd-sharing-enabled {
	margin: 0 0 0;
}
pre {
	display: block;
	font-family: monospace;
	white-space: pre;
	margin: 1em 0;
	background: #fff4cc none repeat scroll 0 0;
	border-color: #ffe070;
	border-left-style: solid;
	border-left-width: 5px;
	padding-left: 10px;
	padding-right: 500px;
	overflow: auto;
}

.lay1 > div img {
	border-bottom: 6px solid #fff;
	border: none;
	width: 290px;
	height: 190px;
}

amp-current, .nav-paginated .current {
	background: #A4A4A4;
	color: #82FA58;
	display: inline-block;
	font-size: 13px;
	margin-right: 10px;
	text-decoration: none;
}

.lay1 > div .read-more, .amp-page, .amp-next, .amp-prev, .page-numbers {
	color: #151515;
}

.lay1 > div p {
	line-height: 19px;
	text-align: justify;
}

#recent-posts-7.widget.widget_recent_entries {
	width: 960px;
	text-align: center;
	margin-bottom: 5px;
	list-style-type: none;
	margin-right: 35px;
	overflow: hidden;
}

.site-midrow .widgets .widget ul li {
	background-color: black;
	color: white;
	width: 320px;
	display: inline;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 4px 4px 0 0;
}

.site-midrow .widgets .widget ul li:hover {
	background-color: #0150c7;
}

.pre {
	background-color: #F1F1F1;
	border: 1px solid #00000;
	padding: 10px;
	overflow: auto;
	margin: 7px;
	color: #0150c7;
}
